/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flexslider { margin-top:30px !important; margin-left:-20px !important; width:960px !important; }
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin:0 !important; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider, .portfolio-flexslider, .slide-flexslider { width: 100%; padding: 0; }
.slide-flexslider { float:left; width:710px; margin:5px;}
.flexslider .slides > li, .portfolio-flexslider .slides > li, .slide-flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img, .portfolio-flexslider .slides img, .slide-flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider, .portfolio-flexslider, .slide-flexslider { position: relative; zoom: 1;}
.flexslider .slides, .portfolio-flexslider .slides, .slide-flexslider .slides {zoom: 1;}
.flexslider .slides > li, .portfolio-flexslider .slides > li, .slide-flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption { background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption { margin-bottom:0; padding:15px 30px; position: absolute; left:0; bottom:0; background: rgba(0,0,0,.7); color: #fff; font-size:18px; line-height: 18px; z-index:0; }

/* Direction Nav */
.flex-direction-nav li a { 
	margin:0; display: block; padding:10px 22px; position: absolute; cursor: pointer; text-indent:-999999px; 
	/*width: 52px; height: 52px; background: url(theme/bg_direction_nav.png) no-repeat 0 0;*/ 
}
.flexslider .flex-direction-nav li .flex-next { 
	bottom:15px; right:15px;
	background-color:#FF631E; 
	background-image:url('theme/arrow-right.png'); 
	background-repeat:no-repeat; 
	background-position:center; 
}
.flexslider .flex-direction-nav li .flex-prev { 
	bottom:15px; right:65px;
	background-color:#FF631E;
	background-image:url('theme/arrow-left.png');
	background-repeat:no-repeat;
	background-position:center; 
}
.flexslider .flex-direction-nav li .disabled { opacity: .3; filter:alpha(opacity=30); cursor: default; }

.portfolio-flexslider .flex-direction-nav li .flex-next { 
	bottom:15px; left:62px; 
	background-color:#FF631E; 
	background-image:url('theme/arrow-right.png'); 
	background-repeat:no-repeat; 
	background-position:center; 
}
.portfolio-flexslider .flex-direction-nav li .flex-prev { 
	bottom:15px; left:15px; 
	background-color:#FF631E;
	background-image:url('theme/arrow-left.png');
	background-repeat:no-repeat;
	background-position:center; 
}

.slide-flexslider .flex-direction-nav li .flex-next { 
	bottom:0; left:0; 
	background-color:#FF631E; 
	background-image:url('theme/srarrow.png'); 
	background-repeat:no-repeat; 
	background-position:center; 
	z-index:4;
}
.slide-flexslider .flex-direction-nav li .flex-prev { 
	bottom:0; left:-134px; 
	background-color:#FF631E;
	background-image:url('theme/slarrow.png');
	background-repeat:no-repeat;
	background-position:center; 
	z-index:4;
}
.slide-flexslider .flex-direction-nav li a:hover { opacity:0.8; }

/* Control Nav */
.flex-control-nav {width:auto; position: absolute; background:#F6F7F9; padding:10px 10px 0px; left:30px; bottom: 20px; text-align: center; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; display:none; }
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default; }
ul.slides { margin-top:0; }
