/********************************
RESPONSIVE CSS * MEDIA QUERIES
********************************/

/*iPad Landscape*/
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px), screen and (max-width: 1200px)  {
    .sociable {display: block;}
    .block-menu-block {display: block;}
    .article-desc {float: right; width: 520px; min-height: 300px; margin-bottom: 1px;}
    .article-domain {display: block; }
    .field-name-body { display: block; }
    #logo .flex-caption { display: none; }
}

/*iPad Portrait*/
@media handheld and (max-width: 767px), screen and (max-device-width: 767px), screen and (max-width: 960px)  {
	#container, .contact-desc { width:640px; }
    .bottom_subscribe {display: none;}
	.members { float:left; width:640px; }
    div.submenu_top {min-height: 30px;}
	.members ul, .footsteps { width:100%; }
	.logo { margin-right:5px; width: 315px; ;margin-top:0px;margin-left:0px;margin-bottom:5px; height:170px;}
	a#logo img { max-width: 315px; }
    a#logo { width: 315px; }
	.logo h1 { height:170px; }
    .page-not-found h2, .about h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:100px; }
	.cat-list, .port-details { width:auto; }
	.cat-list li a:link, .cat-list li a:visited { font-size:15px; }
	.slides li img { width:640px; height:auto; }
	.slist { width:639px; }
	.slist .sdesc { width:438px; }
	.sdesc h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:48px; }
	.contact-desc { margin-bottom:20px; }
	.contact-desc ul { margin-left:0; }
	.contact-form { float:left; width:577px; }
	.contact-form ul li input[type="text"] { width:492px; }
	.contact-form ul li textarea { width:477px; }
	.sidebar { float:left; width:100%; }
	.menu { display:none; }
	#nav-menu { width:315px; height:170px; margin-right: 0px; margin-left: 5px;top: 170px;}
	#nav-menu select { display:block; width:200px; margin:0 auto; position:relative; top:40%; }
	.page-container iframe { width:600px; height:400px; }
	.page-container img.resize { width:600px; height:auto; }
	.welcome { width:640px; height:auto; margin:5px 0; }
	.welcome .block { width:599px;}
	.slide-flexslider .flex-direction-nav li .next { left:45px; }
	.slide-flexslider .flex-direction-nav li .prev { left:0; }
	footer .widget { margin-bottom:1px; }
	.sociable {width:160px;}
	.sociable ul li {margin:0px;}
	.blist .bhover {width:315px;}
	.blist .pmason { width:315px; margin-left: 0px;margin-right: 10px; }
	.blog-content .field-content img { width:315px; }
	.blist { width:660px;left:-5px; }
	.slide-flexslider { width:640px; margin-left:0px;margin-right:0px;}
	footer .widget { margin-left:0px;}
    .sociable {display: none;}
    footer .widget { width:640px; margin:0px 0px 10px 0px;}
    .block-menu-block {display: none;}
    .article-desc {float: right; width: 520px; min-height: 300px; margin-bottom: 1px;}
    .article-domain {display: none; }
    .field-name-body { display: block; text-align: justify;}
    .left-content { width: 640px; }
    .alltopics_subscribe .form-submit { margin-right: 0px; }
}	

/*iPhone Landscape*/
@media screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 750px)  {
	#container, .slide-flexslider { width:320px; }
    #container { margin: 0px auto; margin-top:30px;}
	.slide-mask { width:319px; background-size:319px; height:auto; }
	.contact-desc, .about-desc, .members, .slist, .left-content { width:100%; }
	header { position:relative; padding-bottom:91px; width:320px; }
    div.submenu_top {min-height: 30px;}
	#nav-menu { position:absolute; top:180px; margin-left:0; width:315px; height:65px; }
	#nav-menu select { width:280px; top:30%; }
	.logo { margin-right:1px; margin-left:0px;margin-top:0px; margin-bottom:0px;width: 315px;}
	.page-not-found h2, .about h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:40px; }
	.members ul { width:101%; }
	.blist {width:320px;}
	footer .widget { width:315px; }
	footer .textwidget {margin-left:5px; margin-right:5px;}
	.port-socials, .blog-details { display:none; }
	.slist .sdesc { width:279px; font-size:16px; }
	.services h2 { font-size:30px; padding-top:0; }
	.contact-form { padding:15px; width:287px; }
	.contact-form ul li input[type="text"] { width:202px; }
	.contact-form ul li textarea { width:187px; }
	.page-container iframe { width:280px; height:180px; }
	.page-container img.resize { width:280px; height:auto; }
	.blog-image { float:left; }
	.blog-image .field-type-image img { width:320px; height:auto; }
	.blog-image a { display:block; }
	.blog-desc p { margin-bottom:20px; }
	.comment-details { width:185px; }
	.children { margin-left:20px; }
	.children li .parent .comment-details { width:260px; }
	.children .children li .parent .comment-details { width:235px; }
	#commentform ul li.msg { position:relative; right:0; width:200px; }
	#commentform textarea { width:265px; margin-bottom:20px; }
	#commentform ul li { width:280px; }
	#commentform input[type="text"] { width:205px; }
	.children li #respond ul li input[type='text'] { width:185px; }
	.children li #respond ul li textarea { width:245px; }
	img.avatar { margin-bottom:20px; }
	.rpost li { margin-bottom:1px; }
	.welcome { width:auto; }
	.welcome .block { width:280px; }
    .sociable {display: none;}
    #pbi-image { max-height: 61px;}
    .block-menu-block {display: none;}
    .sidebar .widget h3 { padding-left: 0px; }
    .article-desc {float: none; width: 280px;min-height: 0px;margin-bottom: 20px;}    
    .article-domain {display: none; }    
    #search_region {position: relative;text-align: center;margin: 10px 0px;width:251px;}
    .form-item-search-block-form .form-text {width: 175px;}
    .alltopics_image { width: 0px;overflow: hidden;margin: 0px;}
    .alltopics_image img { display: none;  }
    .alltopics_text { text-align: center; margin-left: -3px;}
    #search_region {display: none}
    .alltopics_premium, .alltopics_subscribe , .bottom_subscribe {display: none}
}

/*iPhone Portrait*/
@media screen and (max-width: 320px), screen and (max-device-width: 320px), screen and (max-width: 450px) {
    #nav-menu {top: 119px;}
    .frontpage_top_topic_body, a.lightbox-processed {display: none;}
	#container, .slide-flexslider { width:251px; }
    .logo {width: 251px;height: 109px;}
    div.submenu_top {min-height: 30px;}
	.slide-mask { width:251px; background-size:251px; height:auto; }
	header, .blist .pmason, footer .widget { width:100%; }
	.sociable { width:91px; }
	.sociable ul li a { width:91px; height:39px; }
	.sociable ul li a img { margin-top:12px; }
	#nav-menu { width:251px; }
	#nav-menu select { width:211px; }
	.blist .pmason .field-content img, #term-all .field-content { width:251px; height:143px; }
	.blist .pmason .field-type-image img { width:251px; height:auto; }
	.blist .bhover, .blist .blog-thumbs-animate { width:251px; }
	.bhover h4 { font-size:22px; }
	footer .widget-partners ul { width:100%; }
	footer .widget-partners img.wp-post-image { width:125px; height:auto; }
	.slist .sdesc, .contact-form { width:211px; }
	.contact-form ul li input[type="text"] { width:135px; }
	.contact-form ul li textarea { width:120px; }
	.page-not-found h2, .about h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:30px; }
	blockquote.qright { width:150px; margin-bottom:20px; }
	.page-container iframe { width:210px; height:180px; }
	.page-container img.resize { width:210px; height:auto; }
	.blog-image .field-type-image img { width:251px; height:auto; }
	.search-box input[type="text"] { width:189px; }
	.rpost ul li { width:250px; }
	.comment-details { width:210px; }
	.children li .parent .comment-details { width:190px; }
	.children .children li .parent .comment-details { width:170px; }
	#commentform input[type="text"] { width:136px; }
	#commentform textarea { width:196px; }
	.sidebar .widget-video iframe { width:210px; }
	.children li #respond ul li input[type="text"] { width:117px; }
	.children li #respond ul li textarea { width:177px; }
	#commentform ul li { width:220px; }
	.welcome .block { width:211px; }
    #pbi-image { max-width: 211px;}
    .block-menu-block {display: none;}
    .article-desc {float: none; width: 280px;min-height: 0px;margin-bottom: 20px;}
    .article-domain {display: none; }
    #search_region {position: relative;text-align: center;margin: 10px 0px;}
    .subscribe_region,#infogentsia-subscribe-form .form-submit {width: 251px;}
    #search_region {display: none}
	.logo h1 { height:109px; }
    a#logo { max-width: 251px; max-height: 109px; }
    a#logo img { max-width: 251px; max-height: 109px; }
    .copyright {width: 251px;}
    #block-infogentsia-infogentsia-phone { width: 251px;text-align: right;margin-right: 0px;}
    .alltopics_image { width: 0px;overflow: hidden;margin: 0px;vertical-align: middle;}
    .alltopics_image img { display: none;  }
    .alltopics_text { text-align: center; width: 230px;}
    .alltopics_text a{ font-size: 20px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; width: 210px; display: inline-block}
    #pbi-image { max-height: 61px;}
    .force-footer {padding-bottom: 150px;}
}