html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,#nav-menu ul.menu li a
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { font-size:12px/1.8em; font-family:'Arial', sans-serif, sans-serif;  margin-top:1px; height: 100%} 
body embed { position:absolute; top:0; right:0; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
nav ul, ul li { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { text-decoration:none; }
mark { font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
input, textarea, select { font-size:12px; font-family:'Arial', sans-serif, sans-serif; padding:4px; margin:0; }
input[type='submit'] { border:0; }
h1, h2, h3, h4, h5, h6 { font-family:'Arial', sans-serif, sans-serif; display:block; margin-bottom:15px; font-weight:normal; }
h1 { font-size:24px; }
h2 { font-size:22px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
a:link, a:visited { text-decoration:none; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
p { margin-bottom:20px; }
img, iframe { vertical-align:top; }

/****************************
IE8 HTML5
****************************/
header, nav, section, article, aside, footer, hgroup { display: block; }

/****************************
GLOBAL STYLES
****************************/
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
#container { width:1080px; margin:30px auto; position: relative; min-height: 100%;}
.logo { float:left; width: 350px; height: 170px; margin:5px;}
.logo h1 { text-align: center; height:170px;white-space: nowrap;position: relative}
#centerdummy {display: inline-block; height: 100%; vertical-align: middle;}
a#logo {display: inline-block;vertical-align: middle; text-align: center; margin-left: -6px;}
a#logo img { max-width: 350px; max-height: 170px; }
#nav-menu { float:left; margin:0px; width: 540px;}
#mselect { display:none; }	
#nav-menu ul.menu li { float:left; padding: 0; margin: 5px; width:170px; height:80px; background: none; list-style: none none; overflow:hidden;text-align: center;}
#nav-menu ul.menu li a { display:block; text-transform:capitalize; font-size: 18px; font-family:'Arial', sans-serif, sans-serif; position:relative; height:80px; padding:20px;}
#nav-menu ul.menu .sf-sub-indicator { display:none; }
#nav-menu ul.menu ul.menu { margin-left: -1px; padding-bottom: 1px; position: relative; z-index: 100;}
#nav-menu ul.menu ul.menu ul.menu {top: 0;margin-left: 219px; padding-bottom: 1px;position: absolute;}
#nav-menu ul.menu ul.menu li, #nav-menu ul.menu ul.menu ul.menu li {height:auto;margin:0; width:220px; position: relative;}
#nav-menu ul.menu ul.menu li a, #nav-menu ul.menu ul.menu ul.menu li a {height:auto;margin:1px; margin-bottom: 0;font-size: 16px; }
#nav-menu ul.menu ul.menu li.last a, #nav-menu ul.menu ul.menu ul.menu li.last a {margin:1px;}
#nav-menu ul.menu li a span.menu-title { padding:20px; display:block; }
#nav-menu ul.menu li a span.menu-description { font-size:14px; font-weight:normal; display:none; position:absolute; bottom:20px; left:20px; }
#nav-menu ul.menu ul.menu li a span.menu-description { display:none; }
.sociable { float:right; width:180px; }
.sociable ul li { float:left; margin:5px; }
.sociable ul li a { text-align:center; display:block; width:80px; height:80px; }
.sociable ul li a img { margin-top:30px; }
footer { width: 100%; position: absolute;bottom: 0px;height: 62px;}
footer .footer-widgets {width: 1080px;margin: 0px auto;}
.copyright { text-align:right; width: 1080px; position: absolute;bottom: 0px;}
.copyright p { margin-bottom: 0px; }

/****************************
LAYOUT
****************************/
.blist .pmason { width:350px; margin:5px; display: inline-block;float: left; }
.blist .last { margin-bottom:1px !important; margin-right:1px !important; }
.blog-thumbs-animate { position:relative; }
.blist .bhover { opacity:0; width:350px; position:absolute; bottom:0; left:0; height:100%; margin:0px}
.bhover .inside { padding:20px; overflow: hidden;}
.bhover h4 { font-size:30px; font-weight:bold; margin-bottom:20px; line-height:30px; }
.bhover h4 a:hover, .bhover h5 a:hover { text-decoration:underline; }
.bhover h5 { margin-bottom:0;  line-height:18px; }
.bhover h5 a:link, .bhover h5 a:visited { font-size:14px; font-weight:bold; }
.bhover span { font-size:12px; font-family:'Arial', sans-serif, sans-serif; }
.action { position:absolute; bottom:0; right:0; }
.action a:link, .action a:visited { padding:12px 10px 4px; display:inline-block; margin-left:1px; }
.action a:hover { opacity:0.8; }
.welcome { width:350px; height:320px; float:left; margin:5px; }
.welcome .block { padding:29px 20px; position:relative; width:280px; height:260px; }
.welcome .con h2 { font-size:60px; font-family:'Arial', sans-serif, sans-serif; }
.welcome .con h5 { font-size:24px; font-family:'Arial', sans-serif, sans-serif; margin-bottom:90px; }
.welcome .con a:link, .welcome .con a:visited { padding:30px 35px; position:absolute; bottom:0; right:0; }
.welcome .con a:hover { opacity:0.8; }
.slide-mask { width:720px; height:318px; display:block; background:url('../img/slide-mask.png') no-repeat; position:absolute; top:0; left:0; z-index:3; }
.page-container { padding:20px; margin-bottom:1px; }
.page-container iframe, .page-container img { margin-bottom:20px; }
.page-not-found h2, .about h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:168px; font-family:'Arial', sans-serif, sans-serif; margin-bottom:4px; }
.page-not-found p { font-size:14px; }
.page-not-found ul li { float:left; }
.page-not-found ul li a { text-transform:uppercase; font-size:14px; padding:4px 6px; }
.footsteps { width:1080px; height:48px; background:url('/profiles/infogentsia_installer/themes/sq/img/footstep.png') repeat-x; margin-top:30px; margin-bottom:30px; }
.about-desc { width:620px; float:left; font-size:14px; }
.about-desc.right, .contact-desc.right { float:right; }
.about-desc h4, .members h4 { font-size:24px; font-weight:bold; text-transform:lowercase; }
.members { width:320px; float:right; }
.members.left, .contact-form.left { float:left; }
.members ul { width:320px; }
.members ul li { float:left; margin-right:1px; margin-bottom:1px; position:relative; overflow:hidden; }
.mdetails { opacity:0; position:absolute; bottom:0; padding:6px 10px; width:140px; }
.mdetails h3 { font-size:14px; font-weight:bold; margin-bottom:0; }
.mdetails p { margin: 0px; }
.mdetails span { font-size:14px; font-family:'Arial', sans-serif, sans-serif; text-transform:lowercase;}
.contact { padding-top:20px; padding-bottom:20px; font-size:14px; }
.contact-desc { float:left; width:460px; }
.contact-desc h2 { padding-top:0 !important; }
.contact-desc h2, .portfolio h2, .blog h2, .services h2 { font-size:36px; margin-bottom:10px; margin-left:10px; margin-right:10px; padding-top:60px; }
.contact-desc .content h2, .portfolio .content h2, .blog .content h2, .services .content h2 { font-size:36px; margin-bottom:10px; padding-top:10px; }
.contact-desc ul { margin-left:40px; }
.contact-desc ul li { padding-left:30px; font-weight:bold; margin-bottom:5px; }
.contact-desc ul li.telno { background:url('../img/telno.png') no-repeat 0 3px; }
.contact-desc ul li.email { background:url('../img/mail.png') no-repeat 0 3px; }
.contact-desc ul li.address { background:url('../img/address.png') no-repeat 0 3px; }
.contact-form textarea { width:90%; }
p.form-submit { margin-bottom:0; text-align:right; }
p.form-submit input[type='submit'] { padding:10px 15px 0 0; background:url('../img/barrow.png') no-repeat right 17px; font-size:18px; font-weight:  600; font-family:'Arial', sans-serif, sans-serif; cursor:pointer; }
label.error { display:none !important; }
.cat-list { margin-bottom:1px; padding:20px 25px; width:909px; }
.cat-list li { float:left; margin-right:25px; }
.cat-list li a:link, .cat-list li a:visited {  font-weight:600; font-size: 18px; font-family:'Arial', sans-serif, sans-serif; }
.port-details { padding:10px 15px; width:929px; overflow:hidden; position:relative; }
.port-details h3 { font-weight:600; font-size: 24px; font-family:'Arial', sans-serif, sans-serif; display:inline-block; margin-bottom:0; }
.port-socials { position:absolute; right:0; bottom:0; }
.port-socials ul li { float:left; margin-left:1px; }
.port-socials ul li a, .share ul li a { padding:6px 8px; display:block; width:30px; height:40px; text-align:center; }
.port-socials ul li a img, .share ul li a img { margin-top:13px; }
.port-socials .btn { background-image:none !important; }
.port-socials .btn i { background:none !important; background-image:none !important; }
.port-desc { padding:15px; font-size:14px; font-family:'Arial', sans-serif, sans-serif; margin-bottom:1px; }
.port-desc h4 { font-weight:600; margin-bottom:4px; }
.other-works h3, #respond h3, .related-post h3, .comments h3 { font-size:24px; font-family:'Arial', sans-serif, sans-serif; padding:20px; margin-bottom:0; }
.comments h3 { background:inherit; }
.left-content { width:720px; float:left; position: relative;}
.services { position: relative;}
.left-content.right { float:right; }
.blog-details { float:left; width:159px; display: block; visibility: visible;}
.date-cat { padding:20px 15px; margin-bottom:1px; }
.date-cat span.d { background:url('../img/date.png') no-repeat; padding-left:22px; font-size:16px; font-family:'Arial', sans-serif, sans-serif;  display:block; }
.date-cat label { font-size:11px; }
.date-cat label a:link, .date-cat label a:visited {  font-style:italic; text-decoration:underline; }
.bcomment { text-align:center; margin-bottom:1px; }
.bcomment a:link, .bcomment a:visited {  font-size:16px; font-family:'Arial', sans-serif, sans-serif; display:inline-block; padding:15px 0; }
span.bubble { background:url('../img/bubble.png') no-repeat right; width:28px; height:24px; display:inline-block; position:relative; top:-20px; }
.blog-image { float:right; margin-bottom:1px; position:relative; }
.even .blog-image { float:left; }
.share { margin-bottom:1px; }
.share ul li { float:left; }
.share ul li a { padding:11px; }
.share ul li a.twitter { margin-left:1px; padding-right:12px; }
.blog-desc { padding:20px; margin-bottom:1px; font-size:14px; position:relative; }
.blog-desc h3 { font-size:18px; font-family:'Arial', sans-serif, sans-serif; text-transform:uppercase; }
a.find-more, .find-more-a a { position:absolute; bottom:0; right:0; display:inline-block; padding:10px 25px; text-transform:uppercase; }
a.fmore { display:inline-block; padding:10px 32px 10px 33px; text-transform:uppercase; margin-bottom:1px; }
.blog-hover { opacity:0; position:absolute; top:50%; left:50%; margin-top:-10px; margin-left:-20px; }
.blog-hover a { padding:18px 20px 15px; display:block; }
#comment-form { padding:20px; position:relative; }
#comment-form label { display:inline-block; font-style:italic; }
#comment-form input[type="text"], #comment-form textarea { padding:6px; width:180px; }
#comment-form textarea { width:100%; height:100px; margin:0; }
#comment-form ul li { margin-bottom:13px; width:260px; } 
#comment-form ul li.msg { position:absolute; top:20px; right:20px; width:330px; margin-bottom:0; } 
#comment-form input[type="submit"] { padding:15px 20px; font-size:14px; font-family:'Arial', sans-serif, sans-serif; text-transform:uppercase; position:relative; right:0; margin-right: 10px;}
#comment-form p.form-submit { margin-top:15px; }
.grippie, #comment-form .filter-wrapper { visibility: hidden;display: none;}
.related-post, .comments, #respond { margin-bottom:1px; }
.related-post ul li { float:left; width:319px; margin-right:1px; }
.rpost-inside { padding:20px; position:relative; }
.rpost-inside h4 { font-size:16px; font-family:'Arial', sans-serif, sans-serif; text-transform:uppercase; }
.comments .comments-con { padding:20px; }
.comments #respond #commentform ul { padding:0; }
.comments #respond #commentform { padding-left:0; padding-right:0; }
.comments #respond #commentform ul li.msg { right:0; }
.children #commentform ul li.msg { width:240px; }
.children #commentform textarea { width:225px; }
.parent img { float:left; margin-right:15px; }
.children { margin-left:90px; padding:0 !important; }
.comment-details { width:auto; margin-left: 91px;}
.comment-details h6 { font-weight:600; font-size:16px; font-family:'Arial', sans-serif, sans-serif; }
.children li .parent .comment-details { width:415px; }
.children .children li .parent .comment-details { width:322px; }
a.comment-reply-link { font-size:10px; text-transform:uppercase; }
#cancel-comment-reply-link { font-size:12px; font-family:'Arial', sans-serif, sans-serif; }
.slist { width:479px; float:left; margin-right:1px; margin-bottom:1px; }
.slist img { float:left; }
.slist .sdesc { float:right; width:278px; padding:20px; padding-bottom: 0; font-size:14px; font-family:'Arial', sans-serif, sans-serif; }
.slist .sdesc p { line-height:24px; }

/****************************
SIDEBAR + WIDGETS
****************************/
.sidebar { float:right; width:350px; margin-top: 10px;}
.sidebar.left { float:left; }
.sidebar .widget { margin-bottom:1px; }
.sidebar .widget h3 { font-size:22px; font-family:'Arial', sans-serif, sans-serif; padding:20px; margin-bottom:0; }
.sidebar .widget_categories ul, .sidebar .widget-blog ul, 
.sidebar .widget_recent_comments ul, .sidebar .widget-popular ul, .sidebar .vid, 
.sidebar .widget_archive ul, .sidebar #calendar_wrap, .sidebar .widget_links ul, 
.sidebar .widget_meta ul, .search-box, .sidebar .textwidget, .sidebar .tagcloud { padding:20px; overflow:hidden; }
.sidebar .widget_categories ul li, .sidebar .widget_archive ul li, 
.sidebar .widget_links ul li, .sidebar .widget_meta ul li { margin-bottom:10px; margin-right:8px; font-weight:bold; float:left; }
.sidebar .widget_categories ul li a, .sidebar .widget_archive ul li a, 
.sidebar .widget_links ul li a, .sidebar .widget_meta ul li a { font-weight:bold; font-size:14px; }
.sidebar .widget-blog ul li, .sidebar .widget-popular ul li { overflow:hidden; margin-bottom:15px; }
.sidebar .widget-blog ul li a, .sidebar .widget-popular ul li a { font-size:14px; font-weight:bold; display:block; }
.sidebar .widget-blog ul li span, .sidebar .widget-popular ul li span { font-size:11px; }
.sidebar .widget-blog ul li span.pcat, .sidebar .widget-popular ul li span.pcat { margin-left:6px; }
.sidebar .widget-blog ul li span.pcat a, .sidebar .widget-popular ul li span.pcat a { font-weight:normal; font-size:11px; display:inline-block; }
.sidebar .widget_recent_comments ul li { font-size:14px; }
.sidebar .widget_recent_comments ul li a:hover { text-decoration:underline; }
.sidebar .widget-video iframe { width:280px; height:200px; margin-bottom:10px; }
.sidebar #wp-calendar { width:100%; }
.sidebar #wp-calendar caption { text-transform:uppercase; font-weight:bold; margin-bottom:10px; padding:6px 0; }
.sidebar #wp-calendar tbody td { text-align:center; }
.sidebar #wp-calendar tfoot { display:none; }
.sidebar #wp-calendar tbody td a { display:block; }
.search-box input[type='text'] { padding:10px; width:255px; }
.search-box p { margin-bottom:0; }
.search-error { font-size:14px; }
.sidebar .textwidget { font-size:14px; }
.sidebar .widget-partners ul { overflow:hidden; width:320px; }
.sidebar .widget-partners ul li { float:left; }
footer .widget { float:left; width:350px; margin:5px; }
footer .widget h3 {  font-size:24px; font-weight:bold; text-transform:lowercase; }
footer .widget-blog { font-size:14px; font-family:'Arial', sans-serif, sans-serif; }
footer .widget-blog h3 { padding:20px; margin-bottom:0; }
footer .widget-blog img, .sidebar .widget-blog ul li img, .sidebar .widget-popular ul li img { float:left; margin-right:15px; }
footer .widget-blog ul { margin:0 20px 20px 20px; }
footer .widget-blog li { overflow:hidden; margin-bottom:10px; }
footer .widget-blog li:last-child, .sidebar .widget-blog ul li:last-child, .sidebar .widget-popular ul li:last-child { margin-bottom:0; }
footer .widget-blog ul li span.pcat, footer .widget-blog ul li span { display:none; }
footer .widget-partners { font-size:18px; font-family:'Arial', sans-serif, sans-serif; }
footer .widget-partners h3 { padding:20px; margin-bottom:0; }
footer .widget-partners ul { width:320px; overflow:hidden; }
footer .widget-partners ul li a { display:block; }
footer .widget_text { font-size:18px; font-family:'Arial', sans-serif, sans-serif; }
footer .widget_text h3 { padding:20px; margin-bottom:0;  }
footer .textwidget { margin:0 20px 20px 20px; }

/****************************
PAGINATION
****************************/
.item-list ul.pager { margin:0 0 10px 0; padding:0px; float: right;}
.item-list ul.pager li { float:left; margin:0;padding:6px 12px; }
.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .alignright a, .alignleft a { font-size:12px;  text-align:center; margin: 0; }
.alignright a, .alignleft a { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }

/****************************
WORDPRESS STYLES
****************************/
.aligncenter { display:block; margin:0 auto; }
.alignright { float:right; }
.alignleft { float:left; }
.floatleft { float:left; }
.floatright { float:right; }
.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }
.wp-caption { text-align:center; padding-top:4px; margin:10px; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.wp-caption img { margin:0; padding:0; border:0 none}
.wp-caption p.wp-caption-text { font-size:11px; line-height:17px; padding:0 4px 5px; margin:0; }
.wp-smiley { margin:0 !important; max-height:1em; }
blockquote.left { margin-right:20px; text-align:right; margin-left:0; width:30%; float:left; }
blockquote.right { margin-left:20px; text-align:left; margin-right:0; width:30%; float:right; }

/****************************************************************************************/
.clr { clear: both; float: none; }
h2.element-invisible { visibility: hidden;display: none; position: absolute; padding: 0; margin: 0; font-size: 0px; line-height: 0px; }
.about, .blog { position: relative; }
div.messages { margin: 0 10px 1px 10px; }
.field-type-taxonomy-term-reference .field-label{ font-weight: normal; }
.field-type-taxonomy-term-reference .field-items .field-item { display: inline; margin-left: 10px; margin-right: 10px; }
ul.tabs { margin: 5px 1px 1px 0; padding: 0px; list-style: none none; border-style: none; right:0; z-index: 100; text-align: right; }
.node-content ul.tabs { margin: 5px 5px 1px 0; }
ul.tabs li { list-style: none none; display: inline; margin: 0px 0px 0px 0px; padding: 0px; position: relative; border-style: none; }
ul.tabs li.active { border-style: none; }
ul.tabs li a { padding: 7px 16px; line-height: 28px; font-size: 12px; font-weight: bold; margin: 0px; }
.blog-thumbs-animate .field-name-field-portfolio-image .field-item { visibility: hidden; display: none; }
.blog-thumbs-animate .field-name-field-portfolio-image .field-item:first-child { visibility: visible; display: block; }
.view-category .views-row, .view-tags .views-row { display: inline; margin-right: 15px; }
.view-category .views-field, .view-tags .views-field { display: inline; }
.view-category .views-field a, .view-tags .views-field a, .view-archive a { font-weight:bold; font-size:14px; }
.form-item-search-block-form .form-text { width: 200px; }
#search-block-form { margin-right: 5px;}
.simpleads-21 { margin-top: 20px; }
.article-desc { padding:0px 20px 20px 20px; margin-bottom:1px; font-size:14px; position:relative; width: 880px;float: right;min-height: 100px;}
.even .article-desc {float: left}
.article-details { float: left; margin-right: 20px; margin-bottom: 20px; }
.article-inner-desc { position:static; padding-top: 0px; }
.view-mailchimp-content article h2.node-title, .view-mailchimp-content article h2.node-title { padding-bottom: 2px; margin-left:0px; margin-top:20px; } 
.view-mailchimp-content article h2.node-title a:link, .view-mailchimp-content article h2.node-title a:link, 
.view-mailchimp-content article h2.node-title a:visited, .view-mailchimp-content article h2.node-title a:visited, 
.view-mailchimp-content article h2.node-title a:hover, .view-mailchimp-content article h2.node-title a:hover, 
.view-mailchimp-content article h2.node-title a:active, .view-mailchimp-content article h2.node-title a:active { text-decoration: none; text-transform: uppercase; font-size: 20px; font-weight: bold; line-height: 18px; }
.view-mailchimp-content article h2.node-title article, .view-mailchimp-content article h2.node-title article { font-size: 14px; font-family:'Arial', sans-serif, sans-serif; }
#block-disqus-disqus-comments { margin:5px; }
.action { z-index: 9; }
.breadcrumb div { display:inline-block; }
.breadcrumb .field-name-field-topic .field-item { margin-left:0px; }
div.view-id-infogentsia_taxonomy_term > div.view-content { padding-bottom: 43px; }
div.view-id-infogentsia_taxonomy_term > div.item-list > ul.pager { margin-top: -43px; }
.view-id-infogentsia_taxonomy_term li.views-row, .view-id-topics_home_page li.views-row, .view-id-infogentsia_taxonomy_term_list_all li.views-row { display: block; margin: 0; padding: 0; max-width: 100%; overflow: hidden; line-height: 1em; position:  relative;}
.view-id-infogentsia_taxonomy_term li.views-row > a, .view-id-topics_home_page li.views-row > a, .view-id-infogentsia_taxonomy_term_list_all li.views-row > a { position: relative; min-height: 4.5em; padding: .5em 8em .5em .5em; display: block; }
.view-id-infogentsia_taxonomy_term .views-row strong, .view-id-topics_home_page .views-row strong, .view-id-infogentsia_taxonomy_term_list_all .views-row strong { display: block; font-size: 1.3em; line-height: 1.6em; }
.view-id-infogentsia_taxonomy_term .views-row em, .view-id-topics_home_page .views-row em, .view-id-infogentsia_taxonomy_term_list_all .views-row em { position: absolute; top: .5em; right: .5em; display: block; padding: .5em; width: 2.6em; font-style: normal; font-weight: 700; text-align: center; }
.view-id-infogentsia_taxonomy_term .views-row em .date, .view-id-topics_home_page .views-row em .date, .view-id-infogentsia_taxonomy_term_list_all .views-row em .date { font-size: 1.5em; display: block; padding-bottom: 5px; }
.view-id-infogentsia_taxonomy_term .views-row .article-topic, .view-id-topics_home_page .views-row .article-topic, .view-id-infogentsia_taxonomy_term_list_all .views-row .article-topic { font-style: italic; display: block; font-family:'Arial', sans-serif, sans-serif; margin-bottom: .3em; }
.sidebar #block-menu-block-1.widget h3, .sidebar #block-system-user-menu.widget h3 { padding-bottom: 0px; }
.sidebar #block-menu-block-1.widget div.textwidget,.sidebar #block-system-user-menu.widget div.textwidget { padding-top: 0px; }
a#logo { display: inline-block; max-height: 170px; text-align: center; }
a#logo img { max-width: 350px; max-height: 170px; }
.alltopics_term { clear: both; height: 61px; margin: 10px; position: relative}
.alltopics_image { display:inline-block; width: 61px;  margin-right: 10px; vertical-align: middle; height: 100%}
.alltopics_text { display: inline-block; width: 960px; overflow: hidden; height: 26px;vertical-align: middle;white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; }
.alltopics_text a { font-size: 24px; }
.alltopics_premium { float: left; }
#alltopics_button { margin: 20px; }
#alltopics_button h3 { text-align: center; }
.article-desc h3 { font-size: 30px; line-height: 30px; font-weight: bold; margin-bottom:0px; }
.article-desc p, .article-inner-desc p { font-size: 18px; line-height: 20px; }
.article-domain, .breadcrumb { font-size: 20px; line-height: 20px;  padding: 20px; }
.article-desc .article-domain { margin: 20px 0px; }
.article-inner-desc .article-domain { margin-left: 159px; margin-bottom: 20px; }
#block-views-og-menu-block a { text-align: center; }
.comments h3 { padding: 0px; }
.share ul li a { padding-top: 0px; padding-bottom: 0px; }
#nav-menu ul.menu li.menu-span530 { width: 530px; }
#nav-menu ul.menu li.menu-span260 { width: 260px; }
.field-name-field-article-author { word-wrap: break-word; white-space: normal; }
.bcomment .comments a { width: 139px; overflow: hidden}
.comments .field-type-taxonomy-term-reference {margin: 0px;}
.blog-thumbs-animate .bhover a { display: block; height: 100%; } 
.mailchimp-signup-subscribe-form { padding-left: 20px; padding-bottom: 20px; }
.blog-thumbs-animate .inside { padding: 20px; overflow: hidden; }
#pbi-image { width: 150px; }
.node-article { overflow: hidden; }
footer .widget-blog a { font-weight: bold; display: block; }
#block-views-latest-posts-block h3, footer .widget-partners h3 { text-transform: capitalize; }
#term-all .field-content {height: 200px; }
.submenu_region { position: relative; }
div.submenu_top { min-height: 26px; margin: 20px 0px;}
.subscribe_region { width: 320px; }
#search_region { text-align: right; min-height: 26px; margin-top: 20px;}
html { height: 100%; }
.alltopics_subscribe { text-align: right; margin-top: -51px;}
#infogentsia-subscribe-form .form-submit { padding: 15px; font-size: 18px; word-wrap: break-word; white-space: normal; width: 310px; margin-left: auto; margin-right: auto; display: block; }
.alltopics_subscribe .form-submit { font-size: 18px; padding: 10px; width: 125px; text-align: center; margin-right: 100px; }
.force-footer { padding-bottom: 107px; }
#block-menu-menu-secondary-links, #block-infogentsia-infogentsia-phone, #block-infogentsia-infogentsia-power-by { float: left; margin-right: 10px; }
#block-menu-menu-secondary-links ul.menu li { display: inline; }
#block-menu-menu-secondary-links, #block-infogentsia-infogentsia-phone, #block-infogentsia-infogentsia-copyright { margin-top: 20px; }
#block-infogentsia-infogentsia-copyright { float: right; }
.ui-autocomplete { z-index: 999; }
.user-picture { display: none; }
.view-id-infogentsia_taxonomy_term span.summary { max-width: 600px; display: block; }
.submenu_region_bottom { z-index: -1; }
#webform-client-form-3 .webform-container-inline label { width: 120px; display: inline-block;}
.node-webform {font-size: 125%;}
#block-search-form a.contextual-links-trigger-active { display: none; }
.view-infogentsia-taxonomy-term div.rate-widget {width: 24px;position: absolute;right: 70px;top: 5px;}
.view-infogentsia-taxonomy-term div.rate-widget .rate-thumbs-up-down-btn-down, .view-infogentsia-taxonomy-term div.rate-widget .rate-thumbs-up-down-btn-up {z-index: 99}
div.rate-widget ul li { margin: 0px; }
.article-inner-desc div.rate-widget ul li { display: inline-block; }
.social-width-2 { width: 170px; height: 80px;}
.sociable ul li.social-width-2 a { display: block; text-transform: capitalize; font-size: 18px; font-family:'Arial', sans-serif, sans-serif; position: relative; height: 20px; padding-top: 20px; width: 170px;padding-bottom: 40px;}
.share .print_mail { margin-left: 0px; }
.share .print-link { padding-bottom: 0px; margin-left: 1px; }
a#logo { position: relative; }
#mailtoblock { margin-left: 1px; }