/*** ESSENTIAL STYLES ***/

.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	/*line-height:	1.0;*/			
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:100px; /* left offset of submenus need to match (see below) */	
}
.sf-menu ul li {
	width:auto;	
	display:block;		
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;			
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:-1px;
	top:159px;    /* match top ul list item height */
	z-index:9999;
	width:250px;
	padding:0;
	border:1px solid #FFF;
}

/*MENU COLOR CUSTOMS*/

.sf-menu li ul.sub-menu a:link, .sf-menu li ul.sub-menu a:visited { color:#FFF; font-weight:600; font-size:  18px; font-family:'Arial', sans-serif, sans-serif; }
.sf-menu li ul.sub-menu a:hover { color:#ffd800; }


.sf-menu li.sfHover ul a:link, .sf-menu li.sfHover ul a:visited { border-bottom:0 !important; border-top:0 !important; height:auto !important; }
.sf-menu li.sfHover ul a:hover { background:#2F3336; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left:19.8em; top:-1px; border:1px solid #FFF; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:-998em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:15.4em; top:0; }
.sf-menu li li ul { position:absolute; z-index:99999; }

.has-menu { /*background:url('drop-arrow.png') no-repeat right 43px;*/ }
.has-menu ul li.has-menu { background:none !important; padding-right:0 !important; }
.has-menu ul li { height:auto !important; }
.has-menu ul li a span.menu-title { padding:10px 20px !important; }

.sf-menu li.has-menu span.sf-sub-indicator { display:none; } 
.sf-menu li ul.sub-menu li.has-menu span.sf-sub-indicator { 
	background:url('rarrow.png') no-repeat 0 0; display:block; text-indent:-999em; overflow:hidden; position:absolute; right:20px; top:20px; width:12px; height:14px; /* IE6 only */
}

/*** DEMO SKIN ***/
.sf-menu {
	float:left;		
}
.sf-menu li {
	/*background:#006391;	*/		
}
.sf-menu a:link, .sf-menu a:visited {	
	text-decoration:none;	
}
.sf-menu a, 
.sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#FFF;		
}
.sf-menu li li {
	margin:0;
	width:100%;	
	border-bottom:1px solid #FFF;
}
.sf-menu li li:last-child { border-bottom:0; }
.sf-menu li li a:link, 
.sf-menu li li a:visited {
	text-align:left;
	font-weight:normal;
	color:#2eb1ee;
	padding:6px 0;
	text-transform:none !important;
	top:0 !important;
	background:none;
	font-size:12px;
}
.sf-menu li li a:hover {  }
.sf-menu li:hover { }
.sf-menu li li:hover, .sf-menu li li.sfHover { outline:0; }

/*.sub-menu li { border-bottom:1px dotted #CCC !important; }*/




/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0 8px 9px 0;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}