/****************************
SITE ELEMENTS
****************************/

.connected { 
    background:#36820C url('../img/success.png') no-repeat 15px; display:block; color:#FFF; padding:10px 20px 10px 40px; 
    margin-bottom:10px; font-size:14px; font-weight:600; text-shadow:0 1px 1px #276306; 
}
.failed { 
    background:#FF9494 url('../img/failed.png') no-repeat 15px; display:block; color:#FFF; padding:10px 20px 10px 40px; 
    margin-bottom:10px; font-size:14px; font-weight:600; text-shadow:0 1px 1px #d85a5a; 
}
.remove { 
    background:#FF0000 url('../img/remove.png') no-repeat 15px; display:block; color:#FFF; padding:10px 20px 10px 40px; 
    margin-bottom:10px; font-size:14px; font-weight:600; text-shadow:0 1px 1px #c30c0c; 
}
.add { 
    background:#71B1E3 url('../img/info.png') no-repeat 15px; display:block; color:#FFF; padding:10px 20px 10px 40px; 
    margin-bottom:10px; font-size:14px; font-weight:600; text-shadow:0 1px 1px #448cc5; 
}
.rounded { border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; }
blockquote { background:url('../img/quote.png') no-repeat top left; font:italic 14px/1.8em; padding-left:40px; margin-bottom:30px; text-shadow:0 1px 1px #FFF; }
blockquote.style2 { background:#EEE url('../img/quote.png') no-repeat top left; padding:30px 30px 10px 30px; margin-bottom:20px; }
blockquote.qleft { float:left; width:200px; }
blockquote.qright { background:#EEE url('../img/quote.png') no-repeat top left; padding:30px 30px 10px 30px; float:right; width:280px; }
blockquote.curve { background:#EEE url('../img/quote.png') no-repeat top left; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; }
a.small:link, a.small:visited, a.medium:link, a.medium:visited, a.large:link, a.large:visited, a.xlarge:link, a.xlarge:visited {
    font-size:12px; font-weight:600; float:left; padding:6px 15px; margin-right:6px; color:#FFF;  border:1px solid #313439; text-shadow:0 1px 1px #333;
    background: #65676a;
    background: -moz-linear-gradient(top, #65676a 0%, #44474d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65676a), color-stop(100%,#44474d));
    background: -webkit-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: -o-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: -ms-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: linear-gradient(top, #65676a 0%,#44474d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65676a', endColorstr='#44474d',GradientType=0 );
    box-shadow: inset 0px 1px 0px #AFB1B5;
    -webkit-box-shadow: inset 0px 1px 0px #AFB1B5;
    -moz-box-shadow: inset 0px 1px 0px #AFB1B5; 
}
a.small:hover, a.medium:hover, a.large:hover, a.xlarge:hover  {
    background: #84878d; 
    background: -moz-linear-gradient(top, #84878d 0%, #45484e 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84878d), color-stop(100%,#45484e));
    background: -webkit-linear-gradient(top, #84878d 0%,#45484e 100%); 
    background: -o-linear-gradient(top, #84878d 0%,#45484e 100%); 
    background: -ms-linear-gradient(top, #84878d 0%,#45484e 100%);
    background: linear-gradient(top, #84878d 0%,#45484e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84878d', endColorstr='#45484e',GradientType=0 );    
}
a.blue:link, a.blue:visited {
    font-size:12px; font-weight:600; float:left; padding:6px 15px; margin-right:6px; color:#FFF;  border:1px solid #0a5579; text-shadow:0 1px 1px #333;
    background: #1782B5;
    background: -moz-linear-gradient(top, #1782B5 0%, #0c618a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1782B5), color-stop(100%,#0c618a));
    background: -webkit-linear-gradient(top, #1782B5 0%,#0c618a 100%);
    background: -o-linear-gradient(top, #1782B5 0%,#0c618a 100%);
    background: -ms-linear-gradient(top, #1782B5 0%,#0c618a 100%);
    background: linear-gradient(top, #1782B5 0%,#0c618a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1782B5', endColorstr='#0c618a',GradientType=0 );
    box-shadow: inset 0px 1px 0px #37aae0;
    -webkit-box-shadow: inset 0px 1px 0px #37aae0;
    -moz-box-shadow: inset 0px 1px 0px #37aae0; 
}
a.blue:hover  {
    background: #2391c5;
    background: -moz-linear-gradient(top, #2391c5 0%, #0c618a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2391c5), color-stop(100%,#0c618a));
    background: -webkit-linear-gradient(top, #2391c5 0%,#0c618a 100%);
    background: -o-linear-gradient(top, #2391c5 0%,#0c618a 100%);
    background: -ms-linear-gradient(top, #2391c5 0%,#0c618a 100%);
    background: linear-gradient(top, #2391c5 0%,#0c618a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2391c5', endColorstr='#0c618a',GradientType=0 );    
}
a.brown:link, a.brown:visited {
    font-size:12px; font-weight:600; float:left; padding:6px 15px; margin-right:6px; color:#FFF;  border:1px solid #3b1a05; text-shadow:0 1px 1px #333;
    background: #552B10;
    background: -moz-linear-gradient(top, #552B10 0%, #3b1a05 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#552B10), color-stop(100%,#3b1a05));
    background: -webkit-linear-gradient(top, #552B10 0%,#3b1a05 100%);
    background: -o-linear-gradient(top, #552B10 0%,#3b1a05 100%);
    background: -ms-linear-gradient(top, #552B10 0%,#3b1a05 100%);
    background: linear-gradient(top, #552B10 0%,#3b1a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#552B10', endColorstr='#3b1a05',GradientType=0 );
    box-shadow: inset 0px 1px 0px #884d27;
    -webkit-box-shadow: inset 0px 1px 0px #884d27;
    -moz-box-shadow: inset 0px 1px 0px #884d27; 
}
a.brown:hover  {
    background: #794422;
    background: -moz-linear-gradient(top, #794422 0%, #3b1a05 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#794422), color-stop(100%,#3b1a05));
    background: -webkit-linear-gradient(top, #794422 0%,#3b1a05 100%);
    background: -o-linear-gradient(top, #794422 0%,#3b1a05 100%);
    background: -ms-linear-gradient(top, #794422 0%,#3b1a05 100%);
    background: linear-gradient(top, #794422 0%,#3b1a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#794422', endColorstr='#3b1a05',GradientType=0 );    
}
a.green:link, a.green:visited {
    font-size:12px; font-weight:600; float:left; padding:6px 15px; margin-right:6px; color:#FFF; border:1px solid #1f5104; text-shadow:0 1px 1px #1b4504;
    background: #296608;
    background: -moz-linear-gradient(top, #296608 0%, #1f5104 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#296608), color-stop(100%,#1f5104));
    background: -webkit-linear-gradient(top, #296608 0%,#1f5104 100%);
    background: -o-linear-gradient(top, #296608 0%,#1f5104 100%);
    background: -ms-linear-gradient(top, #296608 0%,#1f5104 100%);
    background: linear-gradient(top, #296608 0%,#1f5104 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296608', endColorstr='#1f5104',GradientType=0 );
    box-shadow: inset 0px 1px 0px #3a8014;
    -webkit-box-shadow: inset 0px 1px 0px #3a8014;
    -moz-box-shadow: inset 0px 1px 0px #3a8014; 
}
a.green:hover  {
    background: #347710;
    background: -moz-linear-gradient(top, #347710 0%, #1f5104 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#347710), color-stop(100%,#1f5104));
    background: -webkit-linear-gradient(top, #347710 0%,#1f5104 100%);
    background: -o-linear-gradient(top, #347710 0%,#1f5104 100%);
    background: -ms-linear-gradient(top, #347710 0%,#1f5104 100%);
    background: linear-gradient(top, #347710 0%,#1f5104 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347710', endColorstr='#1f5104',GradientType=0 );    
}
a.orange:link, a.orange:visited {
    font-size:12px; font-weight:600; float:left; padding:6px 15px; margin-right:6px; color:#FFF;  border:1px solid #c85109; text-shadow:0 1px 1px #b64908;
    background: #E15D0E;
    background: -moz-linear-gradient(top, #E15D0E 0%, #c85109 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E15D0E), color-stop(100%,#c85109));
    background: -webkit-linear-gradient(top, #E15D0E 0%,#c85109 100%);
    background: -o-linear-gradient(top, #E15D0E 0%,#c85109 100%);
    background: -ms-linear-gradient(top, #E15D0E 0%,#c85109 100%);
    background: linear-gradient(top, #E15D0E 0%,#c85109 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E15D0E', endColorstr='#c85109',GradientType=0 );
    box-shadow: inset 0px 1px 0px #fa8037;
    -webkit-box-shadow: inset 0px 1px 0px #fa8037;
    -moz-box-shadow: inset 0px 1px 0px #fa8037; 
}
a.orange:hover  {
    background: #ea681a;
    background: -moz-linear-gradient(top, #ea681a 0%, #c85109 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea681a), color-stop(100%,#c85109));
    background: -webkit-linear-gradient(top, #ea681a 0%,#c85109 100%);
    background: -o-linear-gradient(top, #ea681a 0%,#c85109 100%);
    background: -ms-linear-gradient(top, #ea681a 0%,#c85109 100%);
    background: linear-gradient(top, #ea681a 0%,#c85109 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E15D0E', endColorstr='#c85109',GradientType=0 );    
}
a.medium:link, a.medium:visited { font-size:14px; padding:10px 15px;    }
a.large:link, a.large:visited { font-size:16px; padding:12px 18px; }
a.xlarge:link, a.xlarge:visited { font-size:18px; padding:15px 20px; margin-bottom:8px; }
.dropcap { font-size:20px; background:#EEE; padding:10px 20px; display:inline-block; text-shadow:0 1px 1px #FFF; float:left; margin-right:15px; }
.dropcap2 { font-size:40px; float:left; margin-right:15px; }
.dropcap3 { font-size:20px; float:left; padding:10px 20px; margin-right:15px; background:#EEE; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; }
.dropcap4 { font-size:20px; float:left; padding:10px 20px; margin-right:15px; background:#EEE; text-shadow:0 1px 1px #FFF; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; }
.dropcap5 { 
    font-size:20px; float:left; padding:10px 20px; margin-right:15px; background:#EEE; text-shadow:0 1px 1px #FFF; 
    border-top-left-radius:20px; -webkit-border-top-left-radius:20px; -moz-border-top-left-radius:20px; 
    border-bottom-right-radius:20px; -webkit-border-bottom-right-radius:20px; -moz-border-bottom-right-radius:20px; 
}
.dropcap6 { 
    font-size:20px; float:left; padding:10px 20px; margin-right:15px; background:#EEE; text-shadow:0 1px 1px #FFF; 
    border-top-right-radius:20px; -webkit-border-top-right-radius:20px; -moz-border-top-right-radius:20px; 
    border-bottom-left-radius:20px; -webkit-border-bottom-left-radius:20px; -moz-border-bottom-left-radius:20px; 
}
.drop-gradient { 
    font-size:20px; float:left; padding:10px 20px; margin-right:15px; color:#FFF;  border:1px solid #313439; text-shadow:0 1px 1px #333;
    background: #65676a;
    background: -moz-linear-gradient(top, #65676a 0%, #44474d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65676a), color-stop(100%,#44474d));

    background: -webkit-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: -o-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: -ms-linear-gradient(top, #65676a 0%,#44474d 100%);
    background: linear-gradient(top, #65676a 0%,#44474d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65676a', endColorstr='#44474d',GradientType=0 );
    border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;
    box-shadow: inset 0px 1px 0px #AFB1B5;
    -webkit-box-shadow: inset 0px 1px 0px #AFB1B5;
    -moz-box-shadow: inset 0px 1px 0px #AFB1B5;
}
.balloon, .book, .bookmark, .box, .briefcase, .calendar, .clipboard, .clock, .cross, .document, 
.exclamation, .folder, .heart, .house, .lifebuoy, .marker, .minus, .nav, .pin, .tick { margin-bottom:30px; }
.balloon li { background:url('../img/balloon.png') no-repeat left; padding-left:25px; }
.book li { background:url('../img/book.png') no-repeat left; padding-left:25px; }
.bookmark li { background:url('../img/bookmark.png') no-repeat left; padding-left:25px; }
.box li { background:url('../img/box.png') no-repeat left; padding-left:25px; }
.briefcase li { background:url('../img/briefcase.png') no-repeat left; padding-left:25px; }
.calendar li { background:url('../img/calendar.png') no-repeat left; padding-left:25px; }
.clipboard li { background:url('../img/clipboard.png') no-repeat left; padding-left:25px; }
.clock li { background:url('../img/clock.png') no-repeat left; padding-left:25px; }
.cross li { background:url('../img/cross.png') no-repeat left; padding-left:25px; }
.document li { background:url('../img/document.png') no-repeat left; padding-left:25px; }
.exclamation li { background:url('../img/exclamation.png') no-repeat left; padding-left:25px; }
.folder li { background:url('../img/folder.png') no-repeat left; padding-left:25px; }
.heart li { background:url('../img/heart.png') no-repeat left; padding-left:25px; }
.house li { background:url('../img/house.png') no-repeat left; padding-left:25px; }
.lifebuoy li { background:url('../img/lifebuoy.png') no-repeat left; padding-left:25px; }
.marker li { background:url('../img/marker.png') no-repeat left; padding-left:25px; }
.minus li { background:url('../img/minus.png') no-repeat left; padding-left:25px; }
.nav li { background:url('../img/navigation.png') no-repeat left; padding-left:25px; }
.pin li { background:url('../img/pin.png') no-repeat left; padding-left:25px; }
.tick li { background:url('../img/tick.png') no-repeat left; padding-left:25px; }
.arrow li { background:url('../img/arrow.png') no-repeat left; padding-left:25px; }


/****************************
PRE TAGS
****************************/

code, samp, kbd { font-family:'Arial', sans-serif, sans-serif; text-align:left; color:#555; }
pre code { line-height:1.6em; font-size:11px; }
pre { 
    padding:6px 15px !important; border-left: 11px solid #ccc !important; margin: 1.7em 0 1.7em 0.3em !important; overflow: auto;
    white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; background:#ececec !important;
}