.form-item-profile-first-name, .form-item-profile-last-name, .form-item-profile-title, .form-item-profile-company, .form-item-profile-city, .form-item-profile-state { 
    display: inline-block;
    margin-right:20px;
    min-width: 200px;
}
.form-item-profile-referrer-other{ display: none}
#block-system-main .profile .user-picture {
    margin-top: -88px;
}