body { color:#666; } 
ins { background-color:#ff9; color:#000; }
mark { background-color:#ff9; color:#000; }
hr { border-top:1px solid #CCC; }
input, textarea, select { color:#373737; }
input, textarea { border:1px dotted #D9D9D9; }
h1, h2, h3, h4, h5, h6 { color:#4e5458; }
a:link, a:visited { color:#373737; }
a:hover { color:#666; }
.blog-thumbs-animate a:link, .blog-thumbs-animate a:visited, .blog-thumbs-animate a:hover, .blog-thumbs-animate a:active, .blog-thumbs-animate .inside h3 { }
::selection { background:#72798a; color:#FFF; }
::-moz-selection { background:#72798a; color:#FFF; }

/****************************
GLOBAL STYLES
****************************/
#nav-menu ul.menu li:nth-child(1), #nav-menu ul.menu li:nth-child(1) ul.menu a { background:#3C6AE0; }
#nav-menu ul.menu li:nth-child(1) a:hover, #nav-menu ul.menu li:nth-child(1) ul.menu a:hover { background:#007AA7; }
#nav-menu ul.menu li:nth-child(2), #nav-menu ul.menu li:nth-child(2) ul.menu a { background:#66CC33; }
#nav-menu ul.menu li:nth-child(2) a:hover, #nav-menu ul.menu li:nth-child(2) ul.menu a:hover { background:#78BE57; }
#nav-menu ul.menu li:nth-child(3), #nav-menu ul.menu li:nth-child(3) ul.menu a { background:#414140; }
#nav-menu ul.menu li:nth-child(3) a:hover, #nav-menu ul.menu li:nth-child(3) ul.menu a:hover { background:#414140; }
#nav-menu ul.menu li a { color:#FFF;}
#nav-menu ul.menu ul.menu li, #nav-menu ul.menu ul.menu ul.menu li { background-color: #fff; }
#nav-menu ul.menu ul.menu li a, #nav-menu ul.menu ul.menu ul.menu li a { background:#3C6AE0; }
#nav-menu ul.menu ul.menu li a:hover, #nav-menu ul.menu ul.menu ul.menu li a:hover { background:#d49f20; }
a.facebook { background:#3C6AE0; }
a.facebook:hover { background:#2452c9; }
a.twitter { background:#1EB8FF; }
a.twitter:hover { background:#1a92c9; }
a.linkedin { background:#007AA7; }
a.linkedin:hover { background:#1a92c9; }
a.email { background:#E31212; }
a.email:hover { background:#b60404; }
a.igcontact { background:#66CC33; }
a.igcontact:hover { background:#78BE57; }
.copyright { color:#CCC;  }
.copyright a {color:#CCC; }

/****************************
LAYOUT
****************************/
.blist .pmason { background:#FFF; }
.blist .bhover { background:#78BE57; }
.bhover h4 a:link, .bhover h4 a:visited { color:#FFF; }
.bhover h5 { color:#FFF; }
.bhover h5 a:link, .bhover h5 a:visited { color:#FFF; }
.bhover span { color:#FFF; }
.action a:link, .action a:visited { background:#FF631E; }
.welcome { background:#FFD800; }
.welcome .con h2 { color:#FF631E; }
.welcome .con h5 { color:#333; }
.welcome .con h5 span { color:#7C980E; }
.welcome .con h5 label { color:#FF631E; }
.welcome .con a:link, .welcome .con a:visited { background:#91AD22; }
.flex-caption a {color:#fff;}
.page-container { background:#FFF; }
.page-not-found h2, .about h2, .contact-desc h2, .portfolio h2, .blog h2, .services h2 { color:#333; }
.page-not-found p { color:#666; }
.page-not-found ul li a { color:#ffd800; }
.page-not-found ul li a:hover { background:#FFD800; color:#333; }
.about-desc h4, .members h4 { color:#ff631e; }
.mdetails { background:#ffd800; }
.mdetails h3 { color:#ff631e; }
.mdetails span { color:#333; }
p.form-submit input[type='submit'] { color:#414140; }
input[type='text'].error, textarea.error { -moz-box-shadow: inset 0 0 5px #FF0000; -webkit-box-shadow: inset 0 0 5px #FF0000; box-shadow: inset 0 0 5px #FF0000;}
.cat-list { background:#FF631E; }
.cat-list li a:link, .cat-list li a:visited { color:#FFF; text-shadow:0 1px 1px #dc4f10; }
.cat-list li a:hover { color:#d9b905; }
.cat-list li.current-cat a { color:#FFD800; }
.port-details { background:#ffd800; }
.port-details h3 { color:#ff631e; }
.port-socials { background:#FFF; }
.port-desc { background:#FFF; }
.other-works h3, #respond h3, .related-post h3, .comments h3 { background:#F6F6F6; color:#ff631e; }
.bcomment .comments a:link, .bcomment .comments a:visited { color:#fff; }
.bcomment .comments a:hover { color:#fff; }
.date-cat { background:#3C6AE0; }
.date-cat span.d { color:#FFF; }
.date-cat label { color:#b7d7d8; }
.date-cat label a:link, .date-cat label a:visited { color:#FFF; }
.bcomment { background:#66CC33; }
.bcomment a:link, .bcomment a:visited { color:#FFF; }
.blog-image { background:#FFF; }
.blog-desc { color:#333; background:#FFF; }
.blog-desc h3 { color:#00bdc1; }
.blog-desc h3 a:link, .blog-desc h3 a:visited { color:#00bdc1; }
.blog-desc h3 a:hover { color:#07a7aa; }
a.find-more, .find-more-a a { background:#F9F9F9; color:#1eb8ff; }
a.find-more:hover, a.fmore:hover, .find-more-a a:hover { background:#d6d6d6; }
a.fmore { background:#F9F9F9; color:#1eb8ff; }
.blog-hover a { background:#FF631E; }
.blog-hover a:hover { background:#DD4D0D; }
.tags a:link, .tags a:visited { color:#1BA5E5; }
#comment-form { background:#FFF; }
#comment-form input[type="text"], #comment-form textarea { border:1px dotted #D9D9D9; }
#comment-form input[type="submit"] { background:#FF631E; color:#FFD800; }
.related-post ul li { background:#FFF; }
.rpost-inside h4 a { color:#00bdc1; }
.rpost-inside h4 a:hover { color:#068e91; }
.comments .comments-con { background:#FFF; }
.comment-details h6 { color:#00bdc1; }
.comment-details h6 a { color:#00bdc1; }
.slist { background:#FFD800; }
.slist .sdesc { color:#333; }
.sdesc h2 { color:#ff631e; }

/****************************
SIDEBAR + WIDGETS
****************************/
.sidebar .widget a:hover { color:#0c7eb3; }
.sidebar .widget { margin-bottom:1px; }
.sidebar .widget h3 { color:#ff631e; background:#F6F6F6; }
.sidebar .widget_categories ul, .sidebar .widget-blog ul, 
.sidebar .widget_recent_comments ul, .sidebar .widget-popular ul, .sidebar .vid, 
.sidebar .widget_archive ul, .sidebar #calendar_wrap, .sidebar .widget_links ul, 
.sidebar .widget_meta ul, .search-box, .sidebar .textwidget, .sidebar .tagcloud { background:#FFF; }
.sidebar .widget_categories ul li, .sidebar .widget_archive ul li, 
.sidebar .widget_links ul li, .sidebar .widget_meta ul li { color:#ff631e; }
.sidebar .widget_categories ul li a, .sidebar .widget_archive ul li a, 
.sidebar .widget_links ul li a, .sidebar .widget_meta ul li a { color:#1ba5e5; }
.sidebar .widget-blog ul li img, .sidebar .widget-popular ul li img { border:5px solid #F0F0F0 !important; }
.sidebar .widget-blog ul li a, .sidebar .widget-popular ul li a { color:#1ba5e5; }
.sidebar .widget-blog ul li span, .sidebar .widget-popular ul li span { color:#CCC; }
.sidebar .widget_recent_comments ul li { color:#1ba5e5; }
.sidebar .widget_recent_comments ul li a { color:#1ba5e5; }
.sidebar #wp-calendar caption { background:#CCC; }
.sidebar #today { background:#FF0000; color:#FFF; }
.sidebar #wp-calendar tbody td a { background:#DDD; }
.search-box input[type='text'] { border:1px solid #CCC; color:#CCC; }
.sidebar .widget-partners ul { background:#FFF; }
footer .widget h3 { color:#FFF; }
footer .widget-blog { background:#3C6AE0; }
footer .widget-blog img, .sidebar .widget-blog ul li img, .sidebar .widget-popular ul li img { border:5px solid #dd9e07; }
footer .widget-partners { background:#414140; color:#FFF; }
footer .widget-partners ul li a { color: #d3d3d3 }
footer .widget_text { color:#FFF; }
footer .widget_text h3 { text-shadow:0 1px 1px #edc905; }

/****************************
PAGINATION
****************************/
.item-list ul.pager li { background:#94AF28;}
.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .alignright a, .alignleft a { color:#FFF; }
.item-list ul.pager li a:hover { color:#FFF; } 
.item-list ul.pager li.pager-current, .alignright a:hover, .alignleft a:hover { background:#4b5e00; color:#FFF; }

/****************************
WORDPRESS STYLES
****************************/
.wp-caption { border:1px solid #ddd; background-color:#f3f3f3; }

/****************************************************************************************/
ul.tabs li a { background-color: #5b98d5; border: 1px solid #326496; color: #fff; text-shadow: 0 1px 0 rgba(2,2,2,.2); }
ul.tabs li a.active, 
ul.tabs li a:hover { color: #333; background-color: #f2f2ef; border: 1px solid #bbb; text-shadow: 0 1px 0 rgba(255,255,255,.2); }
ul.tabs li:first-child a.active,
ul.tabs li:first-child a:hover { border: 1px solid #bbb; }
.view-category .views-field a, .view-tags .views-field a, .view-archive a { color:#1ba5e5; }
#search-block-form input { border: 3px solid #3C6AE0; }
#search-block-form #edit-submit { background: #3C6AE0; color: #fff; }
.article-desc { color:#666; background:#FFF; }
.view-mailchimp-content article h2.node-title, .view-mailchimp-content article h2.node-title { border-bottom: 1px solid rgba(0,0,0,0.6);  } 
.view-mailchimp-content article h2.node-title a:link, .view-mailchimp-content article h2.node-title a:link, 
.view-mailchimp-content article h2.node-title a:visited, .view-mailchimp-content article h2.node-title a:visited, 
.view-mailchimp-content article h2.node-title a:hover, .view-mailchimp-content article h2.node-title a:hover, 
.view-mailchimp-content article h2.node-title a:active, .view-mailchimp-content article h2.node-title a:active { color:rgba(0,0,0,0.8); }
.view-id-infogentsia_taxonomy_term li.views-row > a, .view-id-topics_home_page li.views-row > a, .view-id-infogentsia_taxonomy_term_list_all li.views-row > a { color: #777; border-top: 1px solid rgba(255,255,255,0.4); border-bottom: 1px solid rgba(0,0,0,0.2); }
.view-id-infogentsia_taxonomy_term .views-row strong, .view-id-topics_home_page .views-row strong, .view-id-infogentsia_taxonomy_term_list_all .views-row strong { color: #000; }
.view-id-infogentsia_taxonomy_term .views-row a:visited strong, .view-id-topics_home_page .views-row a:visited strong, .view-id-infogentsia_taxonomy_term_list_all .views-row a:visited strong,
.view-id-infogentsia_taxonomy_term .views-row a:visited em, .view-id-topics_home_page .views-row a:visited em, .view-id-infogentsia_taxonomy_term_list_all .views-row a:visited em,
.view-id-infogentsia_taxonomy_term .views-row a:visited span, .view-id-topics_home_page .views-row a:visited span, .view-id-infogentsia_taxonomy_term_list_all .views-row a:visited span { color: #000; }
.view-id-infogentsia_taxonomy_term .views-row em, .view-id-topics_home_page .views-row em, .view-id-infogentsia_taxonomy_term_list_all .views-row em { background: #3C6AE0; color: #fff; }
.sidebar #block-menu-block-1.widget div.textwidget,.sidebar #block-system-user-menu.widget div.textwidget { background-color: #f5f5f5; }
.article-inner-desc .article-domain, .article-desc .article-domain { background-color: #d3d3d3; }
.term-all .blog-thumbs-animate { background: #66CC33; }
footer .widget-blog { background-color: #FFFFFF; } 
footer .widget-blog a { color: #000000; }
#term-all .field-content {background: #66CC33}
#infogentsia-subscribe-form .form-submit { background: #3C6AE0; color: #FFFFFF; }
.alltopics_subscribe .form-submit { background: #3C6AE0; color: #FFFFFF; }
.alltopics_subscribe .form-submit:hover, #infogentsia-subscribe-form .form-submit:hover{ background: #D9D9D9; color: #000000; }
#block-menu-menu-secondary-links ul.menu li a { color: #72798A; }
#block-infogentsia-infogentsia-phone { color: #72798A; }
.social-width-2 a { background: #66CC33; }
.social-width-2 a:hover { background:#78BE57; }
.social-width-2 a, .social-width-2 a:active, .social-width-2 a:hover, .social-width-2 a:visited, .social-width-2 a:link { color: #FFF; }
.share .share_by_email { background: #575757; }