/********************************
RESPONSIVE CSS * MEDIA QUERIES
********************************/

/*iPad Portrait*/
@media handheld and (max-width: 767px), screen and (max-device-width: 767px), screen and (max-width: 960px)  {
	.logo { background-color: #ffffff;}
	#nav-menu { background:#66CC33; }
}	

/*iPhone Landscape*/
@media screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 750px)  {
	#nav-menu { background:#66CC33; }
    .alltopics_term {background-color: #d3d3d3; }
}